#fof{display:block; width:100%; padding:150px 0; line-height:1.6em; text-align:center;}
#fof .fl_left{}
#fof .fl_left img{}
#fof .fl_right{}
#fof .fl_right h1{font-size:60px; text-transform:uppercase;}
#fof .fl_right p{display:block; margin:0 0 25px 0; padding:0; font-size:16px;}
#fof .fl_right #respond input{width:200px; padding:5px; border:1px solid #CCCCCC;}
#fof .fl_right #respond #submit{width:auto;}