Package: net.netau.ikilledappl3.foldrnfoldr8
Name: FoldrNFoldr8
Depends: mobilesubstrate
Version: 1.0-1
Architecture: iphoneos-arm
Description: Allow Nested folders on iOS 8-8.1.2
Maintainer: ToxicAppl3 <ikilledappl3@ikilledappl3.netau.net>
Author: iKilledAppl3 <ipodnewbee234@icloud.com>
Section: Tweaks
